[Unit]
Description=Serviço de Interface Web do EvilPig
After=network.target

[Service]
User=root 
ExecStart=/bin/bash /opt/EvilPiG/evilpig.sh &
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
